td {
    width: 160px;
}
p {
    margin-left: 10px;
    margin-right: 10px;
}
.pFieldset {
    margin-left: 150px;
    margin-right: 150px;
}
.tableFieldset {
    margin-left: 480px;
    margin-right: 480px;
}