label, input {
    display: block;
}

label {
    margin-bottom: 7px;
}

button{
    margin-top: 10px;
}

fieldset{
    border:solid black;
}
body {
    background-color: #66d5b3 ;
}
#logo {
    font-size: 50px;
    color: white;
    margin-left: 570px;
}